<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/signin.css' %}">
    <link rel="stylesheet" href="{% static 'shop/Default.css' %}">
    <link rel="icon" href="{% static 'shop/Avocado.svg' %}" type = "image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{% static 'shop/signin.js' %}" defer></script>
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>
</head>
<body>
    {% block content %}

    {% endblock content %}
</body>
</html>