{% extends 'base.html' %}

{% block title %}
    {{ product.name }}
{% endblock title %}

{% block content %}

<div class="content-container">
    <div class="product-card__container">
        <div class="product-card__top">
            <div class="product-image__container">
                <div class="product-image">
                    <img src="{{ product.image.url }}">
                </div>
            </div>
            <div class="product-about__container">
                <div class="product-inf__container">
                    <ul class="product-list">
                        <li class="product-list__item"><span class="product-name">{{ product.name }}</span></li>
                        <li class="product-list__item price-col">
                        <div class="price-container">
                            <span class="product-price">{{ product.price }}</span>
                            <div class="product-price__sec">
                                <span class="price-currency">руб</span>
                            </div>
                        </div>
                    </li>

                    </ul>
                    <div class="btn-container">
                        <div class="items-count">
                            <span></span>
                        </div>
                        <div class="btn-bag">
                            <a href="{% url 'shop:add_to_cart' ct_model=ct_model slug=product.slug %}"><span class="btn-add__bag">Добавить в заказ</span></a>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        <div class="product-card__bottom">
            <h1 class= "about-text">О товаре</h1>
            <div class="product-about">
                <ul class="product-list__footer">
                    <li class="product-list__item"><span class="product-description">{{ product.description }}</span></li>
                    <li class="product-list__item"><span class="product-list__name">Категория </span><span class="product-category product-list__value">{{ product.category.name }}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
